<div id="wrapper">	
	<div id="header">
		<div class="container">
			<div class="row banner">
				<h1 class="eight columns title">
					Calendi
				</h1>
				<div class="four columns u-max-full-width">
					<img class="logo right" src="img/logo-small.svg" alt="Calendi Logo">
				</div>
			</div>
		</div>
		<nav class="navbar">
		    <div class="container">
		        <ul class="navbar-list">
		            <li class="navbar-item two columns"><a class="navbar-link active" href="/calendar">Calendar</a></li>
		            <li class="navbar-item four columns"><a class="navbar-link right" href="/login">Login</a></li>
		            <li class="navbar-item six columns"><a class="navbar-link right" href="/logout">Logout</a></li>
		        </ul>
		    </div>
		</nav>
	</div>
	<div id="content">
		<div class="container">
			
		</div>
	</div>
</div>